html {
    font-size: 100%;
}


body {
    font-family: 'Roboto', sans-serif;
    /* font-size: calc(0.60em + 1vmin); */
    /* font-size: calc(16px + (26 - 16) * ((100vw - 768px) / (1600 - 768))); */
    /* font-size: calc(10px + (26 - 14) * ((100vw - 300px) / (1600 - 300))); */
    /* font-size: calc(.8rem + .5vw); */

}



/* cards */
.card {
    border-top: 0;
    border-left: 0;
    border-bottom: 0;
    border-right: 0;
    border-color: #1b6ca8;

}

.card-body {
    padding: 1% 5%;
}

h2.title-call-out {
    text-align: left;
    /* font-family: "Montserrat"; */
    font-weight: 900;
    line-height: 1.5;
    padding: 5%;
    font-size: 2rem;


}


.service-img .container-fluid {
    padding-bottom: 0;
}

.card-title {
    color: #1b6ca8;
}


.container-fluid {
    padding-left: 5%;
    padding-right: 5%;
}

h2,
h4,
h5,
h6,
    {
    /* font-family: "Montserrat"; */
    font-weight: 900;
    text-align: center;
}

a {
    color: black;
}


.font-weight-bold {
    font-family: "Roboto-Black";
    font-weight: 400;
    text-align: center;
    font-size: 3.0rem;
}

body {

    text-align: center;

}

/* Icons */
.icon {
    /* height: auto; */
    /* width: 50px; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    /* Other styles here */
}

/* Sections */

.colored-section {
    background-color: #1b6ca8;
    color: #fff;
}

.white-section {
    background-color: #fff;
}

/* Navigation Bar */

.navbar {
    padding: 1% 7% 1%;

}


.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: Montserrat;
}

/* Title Section*/

.homepage {
    margin-top: 100px;
}


/* Headings */
.big-heading {
    /* font-family: "Montserrat"; */
    font-weight: 900;
    font-size: 3.rem;
    line-height: 1.5;
    margin-top: 100px;
}

.section-heading {
    font-size: 3rem;
    line-height: 1.5;
}

/* Title Image */
.title-image {
    width: 80%;
    /* transform: rotate(25deg); */
    padding-top: 10%;

}

/* Features */

#features .container-fluid {
    text-align: center;
    margin-top: 0px;
    padding-top: 2%;
    /* z-index: 1; */
}

.feat-img {
    color: white;
    margin-bottom: 1rem;
    width: 200px;
    height: 125px;
}

.feat-img:hover {
    color: #4c6dff;
}

.feature-title {
    font-size: 1.5rem;
}






/* Press */

#press {
    background-color: #ef8172;
    padding: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

/* Pricing Section */

#pricing {
    padding: 100px;
}

.price-text {
    font-size: 3rem;
    line-height: 1.5;
}

.pricing-column {
    padding: 3% 2%;
}

@media (max-width: 1028px) {
    #title {
        text-align: center;
    }

    .title-image {
        position: static;
        transform: rotate(0);
        margin-top: 5%;

    }
}

/* Call to Action */



/* Footer */
#footer {
    margin-top: 2%;
    background-color: black;

    position: relative;
    bottom: 0;
    /* height: 60px; */
    color: #fff;
    /* Height of the footer */
}

.foot {
    margin: 20px 10px;
}

.foot-name {
    font-size: 2.0rem;
    float: left;
}

/* About Us */

.about-us {
    margin-top: 5%;
    text-align: left;
    margin-left: 0%;
    padding-right: 2%;


}

.about-indv {
    margin-top: 4%;
    text-align: left;
    margin-left: 0%;
    background-color: #bbe1fa;
}

.aside {
    margin-top: 5%;
    /* margin-left: 0; */
    padding-right: 5%;
    /* font-size: 1.13rem; */
    padding-bottom: 5%;
    text-align: justify;
    color: black;
}

.aside-indv {
    margin-top: 6%;
    /* margin-left: 0; */
    padding-left: 1%;
    padding-right: 2%;
    font-size: 1.20rem;
    text-align: justify;
}

.indv {
    margin-bottom: 0;
    margin-top: 1.5rem;
}

.about-us a {
    font-size: 1.5rem;
    font-weight: 900;
}

.about-logo {
    padding-left: 0%;
    float: left;
}

.about-name {
    color: white;
    float: left;
    font-size: 1.5rem;


}

.about-tom {
    padding-left: 28%;
}

.about-bruce {
    padding-left: 5%;
}

.names {
    background-color: #1b6ca8;

}

.indv-border {
    border-left: solid;
}


.bio-pics {
    width: 500px;
    height: 300px;
}

.tom-bio {
    color: #fff;
}

.bios {
    /* display: flex; */
    text-align: left;

}

.bio-solo {
    width: 300px;

}

.alignright {
    float: right;
    margin-right: 240px;
    margin: 5%;
    width: 300px;

}

.ind-bios {
    padding: 3% 5%;
    text-align: left;
    padding-top: 0px;
    padding-left: 10%;
    padding-right: 10%;
}

ul.no-bullets {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


/* span {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;

    font-size: 2rem;
    line-height: normal;
    line-height: 1.5rem;
    font-weight: bold;
    color: black;
} */

header {
    margin-bottom: 5%;
}

/* contact form */
.tn {
    color: black;
    font-size: 2rem;
}

.contact-us {
    padding-left: 20%;
    padding-right: 20%;

}

/* Strategy */
/* #strategy {
    color: white;
    text-align: left;
} */

.service-img .container-fluid {
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
}

.strat-list {
    font-family: "Roboto-Black";
    font-size: 1.5rem;
    text-align: left;
}

/* contact form */
.contact-title {
    padding-top: 5%;
}

#cards {
    padding-top: 0%;
    padding-bottom: 3%;
}

#page-img {
    height: auto;
    width: 100%;
}

ul {
    text-align: left;
}

/* Modal */

.mark-but {
    background-color: #1b6ca8;


}

.service-text {
    /* font-size: 1.10rem; */
}


.feat-text {
    /* font-size: 1rem; */

    text-align: justify;
    /* text-justify: inter-word; */
}

.card-text {
    text-align: justify;
    /* font-size: 1.10rem; */
}

/* carousel section */
.carousel-item {}

.home-logo {
    text-align: center;
}

.service-title {
    /* color: #1b6ca8; */
    font-weight: 500;
}

.img1 {
    display: block;
}

.img2 {
    display: none;
}

@media (max-width:629px) {
    #page-img {
        display: none;
    }

    .home-logo {
        padding-top: 20%;
    }

    .about-us {
        margin-top: 10%;

    }

    .img1 {
        display: none;
    }

    .img2 {
        display: block;
        width: 100%;
        text-align: center;
    }

    #contact-text {

        padding-top: 20% !important;
    }
}